<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Youtube</title>
</head>
<body>
	<div class="row justify-content-center">
		<div class="col-4">
			<form id="form-view-video" enctype="multipart/form-data">
				<div class="form-group">
					<label for="txtLinkYoutube">Link Youtube</label> <input type="text"
						class="form-control" id="txtLinkYoutube"
						placeholder="Enter link youtube">
				</div>
				<div class="form-group">
					<label for="txtDuration">Duration video</label> <input type="text"
						class="form-control" id="txtDuration"
						placeholder="Enter Duration Video">
				</div>
				<div class="form-group">
					<input type="file" id="file" name="file" />
				</div>


				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$("#form-view-video").submit(function(event) {
			event.preventDefault();
			var link = $("#txtLinkYoutube").val();
			var duration = $("#txtDuration").val();

			var file = $('#file')[0].files[0];
			console.log(file)

			var json = {
				link : link,
				duration : duration,
				file : file
			};

			var formData = new FormData();
			formData.append("file", file);
			formData.append("link", link);
			formData.append("duration", duration);

			$.ajax({
				url : "/view_video",
				type : "POST",
				data : formData,
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				cache : false,
				success : function(response) {
					alert(response);
				},
				error : function(response) {
					console.log(response);
				}
			});

			/* $.post('/view_video', formData, function(data) {
				alert(data);
			}).fail(function(response) {
				console.log(response);
			}); */
		})

		$("button[type='submit']").click(function(event) {

			/* $.ajax({
			  method: "POST",
			  url: "/view-video",
			  data: json
			}).done(function( data ) {
			    alert( "Data Saved: " + data );
			}); */
			// event.preventDefault();
		});
	</script>
</body>
</html>